openapi: 3.0.3
info:
  title: Monom API
  description: MonoM API specification.
  version: v1
servers:
  - url: https://api.monom.ai/v1
  - url: https://api.dev.monom.ai/v1

security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    mobile.PaginatedAssetTree:
      allOf:
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/mobile.AssetTreeNode"
        - $ref: "#/components/schemas/common.Pagination"
    mobile.AssetTreeNode:
      type: object
      properties:
        id:
          type: string
          example: 61a68a2cd8c6514768d5a809
        name:
          type: string
          example: Motor 1
        type:
          type: string
          example: 61a68a2cd8c6514768d5a809
          description: asset type id
        status:
          $ref: "#/components/schemas/master-data.Severity"
        unacknowledgedAlerts:
          type: integer
          description: Ony shows when
          example: 10
        parent:
          $ref: "#/components/schemas/mobile.ParentTreeNode"
        descendantsByType:
          type: array
          description: a map with the number of descendents by type
          items:
            type: object
            properties:
              type:
                type: string
                example: 61a68a2cd8c6514768d5a809
                description: asset type id
              count:
                type: integer
                format: int32
                example: 3
    mobile.ParentTreeNode:
      type: object
      properties:
        id:
          type: string
          example: 61a68a2cd8c6514768d5a809
        name:
          type: string
          example: Motor 1
        parent:
          $ref: "#/components/schemas/mobile.ParentTreeNode"
          example:
            id: 61a68a2cd8c6514768d5a809
            name: Motor
    mobile.BasicAsset:
      type: object
      properties:
        id:
          type: string
          description: asset id
          example: 88888222661562166afd4f147
        name:
          type: string
          description: asset name
          example: Pump 1
        type:
          type: string
          description: asset type
          example: 88888222661562166afd4f147
        childrenByType:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: asset type id
                example: 88888222661562166afd4f147
              total:
                type: integer
                description: Number of assets of this type
                example: 3
          description: a map with the number of children grouped by type
    mobile.AlertsBySeverity:
      type: object
      properties:
        alertsBySeverity:
          type: array
          description: a map with the number of alerts by severity
          items:
            allOf:
              - $ref: "#/components/schemas/master-data.Severity"
              - type: object
                properties:
                  count:
                    type: integer
                    format: int32
    mobile.PaginatedAlerts:
      allOf:
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/mobile.AlertResult"
        - $ref: "#/components/schemas/common.Pagination"
    mobile.AlertResult:
      type: object
      properties:
        id:
          type: string
          description: alert id
          example: 88888222661562166afd4f147
        alarmName:
          type: string
          description: the name of the alert
          example: Alarm x
        assetName:
          type: string
          description: the name of the asset
          example: Motor
        maxSeverity:
          $ref: "#/components/schemas/master-data.Severity"
        active:
          type: boolean
          description: whether the alert still is active
        acknowledged:
          type: boolean
          description: whether the alert has been acknowledged
        hasFeedback:
          type: boolean
          description: whether the alert has been fed back
    asset.AssetPagination:
      type: object
      properties:
        assets:
          type: array
          items:
            $ref: "#/components/schemas/asset.AssetPaginationItem"
        totalElements:
          type: integer
        _links:
          type: object
          properties:
            next:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/assets?page=3
            self:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/assets?page=2
            prev:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/assets?page=1
    asset.BaseAsset:
      type: object
      properties:
        name:
          type: string
          example: Motor 1
        type:
          type: string
          example: MOTOR
        tags:
          type: array
          example:
            - motor
            - madrid
          items:
            type: string
        image:
          $ref: "#/components/schemas/asset.AssetResource"
        description:
          type: string
          example: Motor Example Configuration
        parentId:
          type: string
          example: 61a68a2cd8c6514768d5a809
        position:
          type: number
          example: 0
        attributes:
          type: array
          items:
            properties:
              name:
                type: string
                example: Fabricante
              type:
                type: string
                enum:
                  - string
                  - numeric
                example: string
              value:
                type: object
                example: Tesla Motors
              magnitudeId:
                type: string
                example: 61a68a2cd8c6514768d5a809
              magnitudeName:
                type: string
                example: Pontencial Eléctrico
              unitId:
                type: string
                example: 61a68a2cd8c6514768d5a809
              unitName:
                type: string
                example: Hz
        resources:
          type: array
          items:
            $ref: "#/components/schemas/asset.AssetResource"
        created:
          type: object
          properties:
            by:
              type: string
              example: John Doe
            at:
              type: string
              format: date-time
              example: 2020-01-24T15:00:22.222
        updated:
          type: object
          properties:
            by:
              type: string
              example: Manolo Di Souza
            at:
              type: string
              format: date-time
              example: 2020-01-26T15:00:22.222
    asset.Asset:
      allOf:
        - $ref: "#/components/schemas/asset.BaseAsset"
        - type: object
          properties:
            id:
              type: string
              example: 61a68a2cd8c6514768d5a809
    asset.AssetTreeNode:
      properties:
        id:
          type: string
          example: 61a68a2cd8c6514768d5a809
        name:
          type: string
          example: Motor 1
        parentId:
          type: string
          example: 61a68a2cd8c6514768d5a809
        hasAttributes:
          type: boolean
          example: true
        numDescendants:
          type: integer
          example: 0
        assetType:
          type: string
          example: 61a68a2cd8c6514768d5a809
    asset.AssetTreeNodeWithDescendants:
      properties:
        id:
          type: string
          example: 61a68a2cd8c6514768d5a809
        name:
          type: string
          example: Motor 1
        parentId:
          type: string
          example: 61a68a2cd8c6514768d5a809
        hasAttributes:
          type: boolean
          example: true
        descendants:
          type: array
          items:
            $ref: "#/components/schemas/asset.AssetTreeNodeWithDescendants"
    asset.Tags:
      type: array
      items:
        type: string
        example: SMALL
    asset.Attributes:
      type: array
      items:
        type: string
        example: Temperature
    asset.AssetPaginationItem:
      allOf:
        - $ref: "#/components/schemas/asset.Asset"
        - type: object
          properties:
            typeName:
              type: string
              example: Areas
            dynamicProperties:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    example: M1V__5kHz
                  type:
                    type: string
                    example: FEEDTOPROPERTY
    asset.AssetPatch:
      type: object
      properties:
        imageId:
          type: string
          example: "1234"
        parentId:
          type: string
          example: "-1"
        position:
          type: number
          example: 0
    asset.AssetResource:
      type: object
      properties:
        id:
          type: string
          example: 878698715687gt72166afd4f147
        name:
          type: string
          example: Product specifications
        fileName:
          type: string
          example: Specifications_v1.pdf
        uri:
          type: string
          example: https://api.monom.ai/assets/8bsadsada-25asdgdf-sdasd594-basdf451asda/resources/1234/example.pdf
    asset.ThresholdAlarmPagination:
      type: object
      properties:
        assets:
          type: array
          items:
            $ref: "#/components/schemas/asset.ThresholdAlarm"
        _links:
          type: object
          properties:
            next:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/projects/monom1/assets/threshold-alarms?page=3
            self:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/projects/monom1/assets/threshold-alarms?page=2
            prev:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/projects/monom1/assets/threshold-alarms?page=1
    asset.ThresholdAlarm:
      type: object
      properties:
        id:
          type: string
          example: uytii67ti6it76r7
        name:
          type: string
          example: My Alarm name
        assetId:
          type: string
          example: 88888222661562166afd4f147
        attributeName:
          type: string
          example: Temperature
        windowTimeInMs:
          type: number
          example: 60000
        hysteresis:
          type: number
          example: 5
        intervals:
          type: array
          items:
            $ref: "#/components/schemas/asset.ThresholdAlarmInterval"
        severities:
          type: array
          items:
            $ref: "#/components/schemas/asset.ThresholdAlarmSeverities"
        configuration:
          $ref: "#/components/schemas/asset.ThresholdAlarmConfiguration"
    asset.ThresholdAlarmInterval:
      type: object
      properties:
        severity:
          type: number
          example: 1
        label:
          type: string
          example: Severe interval label
        type:
          type: string
          example: BT
        value:
          type: string
          example: 1.5_2.0
    asset.ThresholdAlarmSeverities:
      type: object
      properties:
        default:
          type: object
          properties:
            hexColor:
              type: string
              example: "#FF891C"
            name:
              type: string
              example: OK
        thresholds:
          type: array
          items:
            $ref: "#/components/schemas/asset.Threshold"
    asset.Threshold:
      type: object
      properties:
        name:
          type: string
          example: HIGH
        hexColor:
          type: string
          example: "#FF891C"
        min:
          type: number
          example: 5
        max:
          type: number
          example: 10
    asset.ThresholdAlertPagination:
      type: object
      properties:
        assets:
          type: array
          items:
            $ref: "#/components/schemas/asset.ThresholdAlert"
        _links:
          type: object
          properties:
            next:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/projects/monom1/assets/threshold-alerts?page=3
            self:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/projects/monom1/assets/threshold-alerts?page=2
            prev:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/projects/monom1/assets/threshold-alerts?page=1
    asset.ThresholdAlert:
      type: object
      properties:
        id:
          type: string
          example: uytii67ti6it76r7
        severity:
          type: number
          example: 100
        assetName:
          type: string
          example: Troqueladora_LF45
        alarmId:
          type: string
          example: 78687h7r83gheg97
        alarmName:
          example: MaxTemperature
        assetId:
          type: string
          example: 1726bh6vt87gv79
        condition:
          type: string
          example: < 1330 AND <= 2000
        status:
          type: boolean
          example: true
        start:
          type: string
          example: 12/01/21 12:30
        finished:
          type: string
          example: 12/01/21 12:30
        recognized:
          type: boolean
          example: false
        alreadyRecognized:
          type: boolean
          example: false
    asset.ThresholdAlertAcknowledges:
      type: array
      items:
        $ref: "#/components/schemas/asset.ThresholdAlertAcknowledge"
    asset.ThresholdAlertAcknowledge:
      type: object
      properties:
        id:
          type: string
          example: uytii67ti6it76r7
    asset.ThresholdAlarmConfiguration:
      type: object
      properties:
        repetition:
          type: number
          example: 2
    asset.Status:
      type: object
      properties:
        assetId:
          type: string
          example: uytii67ti6it76r7
        status:
          type: object
          properties:
            unacknowledged:
              type: boolean
            severity:
              type: number
            lastSeverityChange:
              type: string
              format: date-time
              example: 2020-01-24T15:00:22.222Z
    common.CountResult:
      type: object
      properties:
        total:
          type: number
          example: 348
    common.MonomError:
      type: object
      properties:
        requestId:
          type: string
          example: "1832977e-1"
        timestamp:
          type: string
          example: 2022-04-06T10:41:17.897669Z
        status:
          type: string
          example: "400"
        code:
          type: string
        message:
          type: string
          example: "Validation failed for resource: fooTest. Errors found: 1"
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: lastName
              message:
                type: string
                example: lastName cannot be empty
    common.Pagination:
      type: object
      properties:
        page:
          $ref: "#/components/schemas/common.Page"
        _links:
          $ref: "#/components/schemas/common.Links"
    common.Page:
      type: object
      properties:
        size:
          type: integer
          example: 20
        totalElements:
          type: integer
          example: 100
        totalPages:
          type: integer
          example: 5
        number:
          type: integer
          example: 1
    common.Links:
      type: object
      properties:
        prev:
          type: object
          properties:
            href:
              type: string
              example: https://api.monom.ai/v1/resources?page=1
        self:
          type: object
          properties:
            href:
              type: string
              example: https://api.monom.ai/v1/resources?page=2
        next:
          type: object
          properties:
            href:
              type: string
              example: https://api.monom.ai/v1/resources?page=3
    common.PatchBody:
      type: array
      items:
        $ref: "#/components/schemas/common.PatchDocument"
    common.PatchDocument:
      type: object
      description: A JSONPatch document as defined by RFC 6902
      required:
        - op
        - path
      properties:
        op:
          type: string
          description: The operation to be performed
          enum:
            - add
            - remove
            - replace
            - move
            - copy
            - test
        path:
          type: string
          description: A JSON-Pointer
        value:
          type: object
          description: The value to be used within the operations.
        from:
          type: string
          description: A string containing a JSON Pointer value.
    common.TimeRange:
      type: object
      properties:
        startDate:
          type: number
          example: 1733517346000
        endDate:
          type: number
          example: 1733517346000
    common.DateRange:
      type: object
      required:
        - from
      properties:
        from:
          type: string
          format: date-time
          example: 2020-01-24T15:00:22.222Z
        to:
          type: string
          format: date-time
          example: 2020-01-24T15:00:22.222Z
    common.TimeMetric:
      type: object
      properties:
        value:
          type: integer
          format: int32
          description: the value of the time metric
          example: 30
        unit:
          type: string
          enum:
            - ms
            - s
            - m
            - h
            - d
            - week
            - month
            - year
          description: |
            Unit of time in which the value is expressed:
             * `ms` - Milliseconds
             * `s` - Seconds
             * `m` - Minutes
             * `h` - Hours
             * `d` - Days
             * `week` - Weeks
             * `month` - Months
             * `year` - Years
          example: m
    common.User:
      type: object
      properties:
        id:
          type: string
          example: 78Y8-8H079H0-H789H
        fullName:
          type: string
          example: John Doe
        email:
          type: string
          example: name@domain.com
        phone:
          type: string
          example: "987654321"
        dashbordKey:
          type: string
          example: 98uj978-89y78
        roles:
          type: array
          items:
            type: string
        groups:
          type: array
          items:
            type: string
        lastLogin:
          type: string
          format: date-time
          example: 2022-04-13T07:27:12.574+00:00
    common.CreateUser:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          example: name@domain.com
    common.ModifyUser:
      type: object
      required:
        - fullName
      properties:
        fullName:
          type: string
          example: John Doe
        phone:
          type: string
          example: "987654321"
        lastLogin:
          type: string
          format: date-time
          example: 2022-04-13T07:27:12.574+00:00
    common.Project:
      type: object
      properties:
        id:
          type: string
          example: 88888-2555551asdas-dasd54-adasd54fa
        name:
          type: string
          example: Project1
        shortName:
          type: string
          example: PRO1
        description:
          type: string
          example: Big Project
        organizationId:
          type: string
          example: 89790-189hwj128-1w891jh09
    common.Role:
      type: object
      properties:
        id:
          type: string
          example: 89790-189hwj128-1w891jh09
        name:
          type: string
          example: Administrator
        totalUsers:
          type: integer
          example: 20
    common.Group:
      type: object
      properties:
        id:
          type: string
          example: 89790-189hwj128-1w891jh09
        name:
          type: string
          example: Admins
    common.GroupWithTotalUsers:
      type: object
      properties:
        id:
          type: string
          example: 89790-189hwj128-1w891jh09
        name:
          type: string
          example: Admins
        totalUsers:
          type: integer
          example: 20
    common.GroupWithTotalUsersAndRoles:
      type: object
      properties:
        id:
          type: string
          example: 89790-189hwj128-1w891jh09
        name:
          type: string
          example: Admins
        totalUsers:
          type: integer
          example: 20
        roles:
          type: array
          items:
            type: string
    common.EditGroup:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: Admins
    common.CreateUserRole:
      type: object
      properties:
        userId:
          type: string
          example: 89790-189hwj128-1w891jh09
        roleId:
          type: string
          example: 798h2-80n809m990-89h79h97
    common.CreateUserGroup:
      type: object
      properties:
        userId:
          type: string
          example: 89790-189hwj128-1w891jh09
        groupId:
          type: string
          example: 798h2-80n809m990-89h79h97
    connectivity.ConnectorSchemaList:
      title: ConnectorSchemaList
      type: object
      properties:
        id:
          type: string
          example: 12156156-fads484fd78ad-4fds897g894af
        type:
          type: string
          example: datom
    connectivity.ConnectorSchema:
      title: ConnectorSchema
      type: object
      properties:
        id:
          type: string
          example: 12156156-fads484fd78ad-4fds897g894af
        type:
          type: string
          example: datom
        configurationSchema:
          type: object
    connectivity.Device:
      title: Device
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        name:
          type: string
        description:
          type: string
        totalModules:
          type: integer
        meta:
          type: object
    connectivity.DeviceStatus:
      title: DeviceStatus
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        status:
          $ref: "#/components/schemas/connectivity.StatusEnum"
    connectivity.Module:
      title: Module
      required:
        - deviceId
        - type
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        deviceId:
          type: string
        connectorId:
          type: string
        type:
          type: string
        model:
          type: string
        serialNumber:
          type: string
        configuration:
          type: object
    connectivity.ModuleItem:
      title: Module
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        feeds:
          type: integer
    connectivity.CreateModifyModule:
      title: Save Module data
      type: object
      required:
        - name
        - connectorId
        - type
      properties:
        name:
          type: string
        connectorId:
          type: string
        type:
          type: string
        model:
          type: string
        serialNumber:
          type: string
        configuration:
          type: object
    connectivity.ModuleStatus:
      title: ModuleStatus
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        deviceId:
          type: string
        status:
          $ref: "#/components/schemas/connectivity.StatusEnum"
    connectivity.ModuleList:
      title: ModuleList
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
    connectivity.StatusEnum:
      type: string
      enum:
        - OK
        - WARN
        - ERROR
        - DEPLOYING
        - DEPLOY_FAILED
    connectivity.ModulePagination:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/connectivity.ModuleItem"
        total:
          type: integer
    connectivity.FeedList:
      type: array
      example:
        - feedName1
        - feedName2
      items:
        type: string
    mobile.DashboardResponse:
      type: object
      properties:
        projectId:
          type: string
          example: 615865149841asd8846
        assetId:
          type: string
          example: 615865149841asd8846
        owner:
          type: string
          example: test@monom.ai
        widgets:
          type: array
          items:
            $ref: "#/components/schemas/mobile.Widgets"
    mobile.DashboardRequest:
      type: object
      properties:
        widgets:
          type: array
          items:
            $ref: "#/components/schemas/mobile.Widgets"
    mobile.Widgets:
      type: object
      properties:
        id:
          type: string
          example: 615865149841asd8846
        name:
          type: string
          example: Widget Name
        widgetChart:
          type: string
          enum:
            - gauge
            - pie
            - trend
            - bar
            - term
            - metric
          example: gauge
        dynamicProperties:
          type: array
          items:
            type: string
            example: M1A__dc
        range:
          $ref: "#/components/schemas/mobile.Range"
    mobile.Range:
      type: object
      properties:
        min:
          type: number
          example: 0
        max:
          type: number
          example: 100
    dashboard.Dashboards:
      type: object
      properties:
        assets:
          type: array
          items:
            $ref: "#/components/schemas/dashboard.Dashboard"
    dashboard.Dashboard:
      type: object
      properties:
        id:
          type: string
          example: 7u678utyu76t87
        assetId:
          type: string
          example: 7uuy9i96iy979iy9
        name:
          type: string
          example: MyAssetDashboard
        url:
          type: string
          example: https://dashboards.monom.ai/asset/u8u98y/dashboard/78uiiy6
        default:
          type: boolean
          example: false
    data-flow.AssetPagination:
      type: object
      properties:
        assets:
          type: array
          items:
            $ref: "#/components/schemas/data-flow.Asset"
        page:
          type: object
          properties:
            size:
              type: integer
              example: 20
            totalElements:
              type: integer
              example: 100
            totalPages:
              type: integer
              example: 5
            number:
              type: integer
              example: 1
        _links:
          type: object
          properties:
            prev:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/app/data-flows?page=1&limit=20&sort=name:asc&asset-types=id1,id2,id3
            self:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/app/data-flows?page=2&limit=20&sort=name:asc&asset-types=id1,id2,id3
            next:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.monom.ai/v1/app/data-flows?page=3&limit=20&sort=name:asc&asset-types=id1,id2,id3
    data-flow.Asset:
      allOf:
        - type: object
          properties:
            id:
              type: string
              example: 60f59b87e0498896dcf85451
            type:
              type: object
              properties:
                id:
                  type: string
                  example: 60f59b87e0498896dcf85451
                name:
                  type: string
                  example: MOTOR
                iconUrl:
                  type: string
                  example: https://storage.googleapis.com/monomizer-dev-resources/images/assets/motor.svg
                description:
                  type: string
                  example: Represents an engine element
            name:
              type: string
              example: Gas turbine
            flowCount:
              type: number
              example: 5
            dataFlowSetPublish:
              allOf:
                - type: object
                  properties:
                    id:
                      type: string
                      example: 60f59b87e0498896dcf85451
                    publishDateTime:
                      type: string
                      format: date-time
                      example: 2022-01-23T18:47:17.818Z
            dataFlowSetDraft:
              allOf:
                - type: object
                  properties:
                    id:
                      type: string
                      example: 60f59b87e0498896dcf85451
                    owner:
                      type: string
                      example: test-owner@monom.ai
            previousVersionsCount:
              type: number
    data-flow.DataFlowSet:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          example: 60f59b87e0498896dcf85451
        owner:
          readOnly: true
          type: string
          description: The email of the user who is currently editing the DFS
          example: test@monom.ai
        status:
          readOnly: true
          type: string
          example: DRAFT
          enum:
            - DRAFT
            - DISCARD
            - PUBLISH
            - INACTIVE
        assetId:
          readOnly: true
          type: string
          example: 60f59b87e0498896dcf85451
        projectId:
          readOnly: true
          type: string
          example: 60f59b87e0498896dcf85451
        version:
          readOnly: true
          type: number
        publishDate:
          readOnly: true
          type: string
          format: date-time
        windowTimesMs:
          type: number
          example: 1000
          description: Time interval to fetch feeds as inputs
        windowTimesUnit:
          type: string
          enum:
            - ms
            - s
            - m
            - h
            - d
            - week
            - month
            - year
          description: |
            Unit of time in which the windowTimesMs field is expressed:
               * `ms` - Milliseconds
               * `s` - Seconds
               * `m` - Minutes
               * `h` - Hours
               * `d` - Days
               * `week` - Weeks
               * `month` - Months
               * `year` - Years
          example: ms
        dataFlows:
          type: array
          items:
            $ref: "#/components/schemas/data-flow.DataFlow"
    data-flow.DataFlow:
      properties:
        id:
          type: string
          example: 60f59b87e0498896dcf85451
        type:
          type: string
          enum:
            - DIRECT
            - COMPLEX
          description: the kind of Data Flow. It can be for DIRECT or COMPLEX properties
          example: DIRECT
        flowId:
          type: string
          description: The identifier of the flow corresponding to this published Data Flow
          example: 60f59b87e0498896dcf85451
        name:
          type: string
          description: The name of the Data Flow (aka group)
          example: Average Motor Temperature
        operations:
          type: array
          items:
            $ref: "#/components/schemas/data-flow.Operation"
    data-flow.Operation:
      type: object
      properties:
        id:
          type: string
          example: 60f59b87e0498896dcf85451
        name:
          type: string
          description: The name of the Operation
          example: Frequency
        input:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/data-flow.InputOutput"
              - type: object
                properties:
                  inputType:
                    type: string
                    enum:
                      - FEED
                      - PROPERTY
                      - BRIDGE
                    description: the input type
                    example: FEED
                  dataSourceName:
                    type: string
                    description: the name of the data source from which the entry was generated
                    example: Datom test
                  toId:
                    type: string
                    description: the id of the target element (operation or output). Acts as a
                      foreign key to identify the specific element when there
                      are repeated elements (several occurrences of an element).
                    example: 60f59b87e0498896dcf85451
        operator:
          type: object
          properties:
            id:
              type: string
              example: 60f59b87e0498896dcf85451
            order:
              type: integer
              format: int32
              description: the order of this operator among other operator elements in the
                same Data Flow
            type:
              type: string
              enum:
                - SCRIPT
                - FEEDTOPROPERTY
              example: SCRIPT
            name:
              type: string
              description: operation name. Usually it is the algorithm name
              example: Average Motor Temperature
            algorithmId:
              type: string
              example: 60f59b87e0498896dcf85451
            algorithmUrl:
              type: string
              example: http://...
            inputs:
              type: array
              items:
                $ref: "#/components/schemas/data-flow.AlgorithmIO"
            outputs:
              type: array
              items:
                $ref: "#/components/schemas/data-flow.AlgorithmIO"
            operatorId:
              type: string
              example: 60f59b87e0498896dcf85451
        output:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/data-flow.InputOutput"
              - type: object
                properties:
                  outputType:
                    type: string
                    enum:
                      - PROPERTY
                      - BRIDGE
                    description: the input type
                    example: PROPERTY
                  fromId:
                    type: string
                    description: the id of the source element (operation or input). Acts as a
                      foreign key to identify the specific element when there
                      are repeated elements (several occurrences of an element).
                    example: 60f59b87e0498896dcf85451
    data-flow.InputOutput:
      allOf:
        - $ref: "#/components/schemas/data-flow.WithUnit"
        - type: object
          properties:
            id:
              type: string
              example: 60f59b87e0498896dcf85451
            order:
              type: integer
              format: int32
              description: the order of this input among other input elements in the same Data
                Flow
            from:
              type: string
              description: the name of the input
              example: feed_temp_motor
            to:
              type: string
              description: Operator input argument name. It is the destination
              example: INPUT_1
            dataType:
              type: string
              example: SCALAR
              enum:
                - SCALAR
                - WAVEFORM
                - PULSETRAIN
                - SPECTRUM
                - VECTOR
                - IMAGE
                - OTHER
            disconnected:
              type: boolean
    data-flow.AlgorithmIO:
      allOf:
        - $ref: "#/components/schemas/data-flow.WithUnit"
        - type: object
          properties:
            name:
              type: string
              example: Input 1
            type:
              type: string
              enum:
                - SCALAR
                - WAVEFORM
                - PULSETRAIN
                - SPECTRUM
                - VECTOR
                - IMAGE
                - OTHER
              example: SCALAR
            description:
              type: string
              example: First input in sum operation
    data-flow.WithUnit:
      type: object
      properties:
        magnitudeId:
          type: string
          description: id of the magnitude. Optional
          example: 60f59b87e0498896dcf85451
        magnitudeName:
          type: string
          description: the name of the magnitude. Optional
          example: Temperature
        unitId:
          type: string
          description: id of the unit. Optional
          example: 60f59b87e0498896dcf85451
        unitName:
          type: string
          description: the name of the unit. Optional
          example: Celsius
        unitSymbol:
          type: string
          description: the symbolo of the unit. Optional
          example: ºC
    data-flow.DataFlowSetPatch:
      type: object
      properties:
        owner:
          type: string
        status:
          type: string
          enum:
            - PUBLISH
            - DRAFT
            - VALIDATED
            - INACTIVE
            - DISCARD
    data-flow.DataSource:
      type: object
      properties:
        name:
          type: string
          example: Datom test
        dataSourceId:
          type: string
          example: 60f59b87e0498896dcf85451
    data-flow.Feed:
      type: object
      properties:
        name:
          type: string
          example: feed_temp_motor
        dataSourceName:
          type: string
          example: Datom test
        dataType:
          type: string
          example: SCALAR
        magnitudeId:
          type: string
          description: the magnitude id. Optional.
          example: 60f59b87e0498896dcf85451
        unitId:
          type: string
          description: the unit id. Optional.
          example: 60f59b87e0498896dcf85451
    data-flow.Property:
      type: object
      properties:
        name:
          type: string
          example: average_temp_motor
    data-flow.Operator:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: SCRIPT
        projectId:
          type: string
          example: 60f59b87e0498896dcf85451
        icon:
          type: string
    data-flow.AlgorithmList:
      type: object
      properties:
        id:
          type: string
          example: 60f59b87e0498896dcf85451
        name:
          type: string
          example: Script Average Temperature
        projectId:
          type: string
          example: 60f59b87e0498896dcf85451
        operatorId:
          type: string
          example: 60f59b87e0498896dcf85451
    data-flow.Algorithm:
      type: object
      properties:
        id:
          type: string
          example: 60f59b87e0498896dcf85451
        name:
          type: string
          example: Script Average Temperature
        projectId:
          type: string
          example: 60f59b87e0498896dcf85451
        operatorId:
          type: string
          example: 60f59b87e0498896dcf85451
        type:
          type: string
          example: SCRIPT
          enum:
            - SCRIPT
            - FEEDTOPROPERTY
        inputs:
          type: array
          items:
            allOf:
              - type: object
                properties:
                  name:
                    type: string
                    example: Input 1
                  type:
                    type: string
                    example: SCALAR
                    enum:
                      - SCALAR
                      - WAVEFORM
                      - SPECTRUM
                  description:
                    type: string
        outputs:
          type: array
          items:
            allOf:
              - type: object
                properties:
                  type:
                    type: string
                    example: SCALAR
                    enum:
                      - SCALAR
                      - WAVEFORM
                      - SPECTRUM
                  name:
                    type: string
                    example: Output 1
                  description:
                    type: string
        description:
          type: string
          description: Feature of operator
        metadata:
          type: object
          description: Diferents configuration properties about operator type
    data-intake.Feed:
      type: object
      required:
        - id
        - name
        - timestamp
        - type
        - value
      properties:
        id:
          type: string
          example: 86d893c1-74c5-4cff-8a71-954f8c7b3f5c
        name:
          type: string
          example: temperature
        type:
          type: string
          description: Feed Type
          example: SCALAR
          enum:
            - SCALAR
            - WAVEFORM
            - PULSETRAIN
            - SPECTRUM
            - VECTOR
            - IMAGE
            - BLOB
        value:
          type: object
          example: 12.0456
        timestamp:
          type: number
          format: double
          example: "1638198638606.1236"
        metadata:
          type: object
          example:
            unit: C
    data-intake.BulkResponse:
      type: object
      properties:
        success:
          type: integer
          example: 2
        total:
          type: integer
          example: 2
        errors:
          type: integer
          example: 0
        info:
          type: array
          items:
            type: string
          example:
            - Incorrect timestamp
    edge.Processing:
      type: object
      properties:
        processingId:
          type: string
          description: Unique identifier in the monom vision solution to processing module.
          example: processing_1
        status:
          type: string
          description: Status of the processing.
          example: ok
          enum:
            - connecting
            - ok
            - bad_configuration
            - error_connection
        processingEnabled:
          type: boolean
          description: Whether process is enabled or not.
    edge.ProcessingProperties:
      type: object
      properties:
        processingEnabled:
          type: boolean
          nullable: true
          description: Whether process is enabled or not.
          example: true
    edge.ProcessingEnabled:
      type: object
      properties:
        status:
          type: boolean
          nullable: true
          description: Whether process is enabled or not in all solution.
          example: true
    edge.AvailableDisplays:
      type: object
      properties:
        displayNames:
          type: array
          example:
            - raw
            - output_processing_1
            - output_processing_2
          items:
            type: string
    edge.Size:
      type: object
      properties:
        width:
          type: number
          description: Width
          example: 640
        height:
          type: number
          description: Height
          example: 480
    edge.ImageProperty:
      type: object
      properties:
        size:
          $ref: "#/components/schemas/edge.Size"
        colorPallet:
          type: string
          nullable: true
          description: Color pallet of the display. This property is only applied when the
            image has one channel. If this variable = "none", the pallet is not
            applied.
          example: magma
          enum:
            - none
            - magma
    edge.DisplayProperties:
      type: object
      properties:
        displayName:
          type: string
          description: Name of the available display you want to show.
          example: raw
        status:
          type: string
          nullable: true
          description: Status of the display.
          example: play
          default: play
          enum:
            - play
            - pause
        dataType:
          type: string
          nullable: true
          description: Data type of the display. The display can show the raw image or
            annotation image.
          example: raw
          default: raw
          enum:
            - raw
            - annotation
        image:
          description: Configuration of the image sent in the display.
          nullable: true
          $ref: "#/components/schemas/edge.ImageProperty"
    edge.Offer:
      type: object
      properties:
        displayName:
          type: string
          description: Name of the display
          example: raw
        status:
          type: string
          description: Status of the display.
          default: play
          example: play
          enum:
            - play
            - pause
        dataType:
          type: string
          description: Data type of the display. The display can show the raw image or
            annotation image.
          default: raw
          example: raw
          enum:
            - raw
            - annotation
        image:
          description: Configuration of the image sent in the display.
          nullable: true
          $ref: "#/components/schemas/edge.ImageProperty"
        sdp:
          type: string
          description: WebRtc protocol connection identification
          example: C152aV5s2aa52Vs4df26
        type:
          type: string
          description: WebRtc protocol type connection
          example: C152aV5s2aa52Vs4df26
    edge.Answer:
      type: object
      properties:
        displayId:
          type: string
          description: Id of the display connection.
          example: 12f5-d45g-54s6-f852
        displayProperties:
          nullable: true
          description: properties the display created.
          $ref: "#/components/schemas/edge.DisplayProperties"
        sdp:
          type: string
          description: WebRtc protocol connection identification
          example: C152aV5s2aa52Vs4df26
        type:
          type: string
          description: WebRtc protocol type connection
          example: C152aV5s2aa52Vs4df26
    edge.Storage:
      type: object
      properties:
        status:
          type: string
          description: Status of the storage module.
          example: ok
          enum:
            - connecting
            - ok
            - bad_configuration
            - error_connection
        storageEnabled:
          type: boolean
          description: Whether storage is enabled or not.
    edge.StorageProperties:
      type: object
      properties:
        storageEnabled:
          type: boolean
          nullable: true
          description: enable or disable the storage.
          example: true
    edge.Event:
      type: object
      properties:
        projectId:
          type: string
          description: Project id of the event.
          example: 12f5-d45g-54s6-f852
        deviceId:
          type: string
          description: Device id of the event.
          example: 12f5-d45g-54s6-f852
        eventId:
          type: string
          description: Event id of the event.
          example: 12f5-d45g-54s6-f852
        correlationId:
          type: string
          description: Correlation id of the event.
          example: 12f5-d45g-54s6-f852
        timestamp:
          type: number
          description: Timestamp of the event.
          example: 12225201
        dataType:
          type: string
          description: Data type of the event.
          example: image_matrix
        name:
          type: string
          description: Name of the event.
          example: prediction
        value:
          type: string
          description: Value of the event.
          example: good
        metadata:
          type: object
          additionalProperties: true
    edge.Link:
      type: object
      properties:
        rel:
          type: string
          description: Number of the page
          example: first
          enum:
            - first
            - prev
            - next
            - self
            - last
        href:
          type: string
          description: Url to the page indicate in rel parameter.
          example: http://localhost:8000/api/edge/v1/events?page=1&limit=1&deviceId=cam2
    edge.Page:
      type: object
      properties:
        number:
          type: number
          description: Number of the page.
          example: 1
        size:
          type: number
          description: Size of the elements returned.
          example: 1
        totalPages:
          type: number
          description: Total number of the pages to filters applied.
          example: 1
        totalElements:
          type: number
          description: Total number of the elements to filters applied.
          example: 1
        links:
          type: array
          items:
            $ref: "#/components/schemas/edge.Link"
        content:
          type: array
          items:
            $ref: "#/components/schemas/edge.Event"
    edge.Device:
      type: object
      properties:
        deviceId:
          type: string
          description: Unique identifier in the monom vision solution.
          example: cam1
        nameSelector:
          type: string
          description: Name to show in the device selector.
          example: FLIR Systems FLIR A50(125202)
        system:
          type: string
          description: System of the device.
          example: gigeVision
          enum:
            - gigeVision
            - usb3Vision
            - unknown
        status:
          type: string
          description: Status of the device.
          example: connect
          enum:
            - connecting
            - configuration
            - ok
            - bad_configuration
        mode:
          type: string
          description: Mode of the device grab.
          example: continuous
          enum:
            - continuous
            - single_shot
            - stop
            - disconnect
    edge.DeviceProperties:
      type: object
      properties:
        mode:
          type: string
          description: Mode of the device. You can select the mode acquisition and
            disconnect the device.
          nullable: true
          example: connect
          enum:
            - continuous
            - single_shot
            - stop
            - disconnect
    feedback.FeedbackAssetRequest:
      type: object
      required:
        - failureModeId
        - severityId
        - dateRange
        - dynamicProperties
      properties:
        failureModeId:
          type: string
          example: 6458asd489786asd
        severityId:
          type: string
          example: 6458asd489786asd
        dynamicProperties:
          type: array
          items:
            type: string
            example: M1H__1KhZ
        dateRange:
          type: object
          $ref: "#/components/schemas/common.DateRange"
        description:
          type: string
        recommendation:
          type: string
    feedback.FeedbackAlertRequest:
      type: object
      required:
        - assetId
        - alertsId
        - rightAlerts
      properties:
        alertsId:
          type: array
          minItems: 1
          description: set of alerts for this feedback.
          items:
            type: string
            example: 615sad8fg56780
        assetId:
          type: string
          example: 88888222661562166afd4f147
        rightAlerts:
          type: boolean
          description: whether the alerts was right or not
          example: false
        failureModeId:
          type: string
          example: 6458asd489786asd
        falsesFailuresIds:
          type: array
          items:
            type: string
            example: 6458asd489786asd
        severityId:
          type: string
          example: 6458asd489786asd
        dateRange:
          type: object
          $ref: "#/components/schemas/common.DateRange"
        description:
          type: string
        recommendation:
          type: string
    feedback.FeedbackResponse:
      type: object
      properties:
        id:
          type: string
          example: 615865149841asd8846
        assetId:
          type: string
          description: asset ID
          example: 615865149841asd8846
        projectId:
          type: string
          description: project ID
          example: 615865149841asd8846
        alertData:
          type: object
          properties:
            alertsId:
              type: array
              items:
                type: string
                example: 615sad8fg56780
            rightAlerts:
              type: boolean
        failureModeId:
          type: string
          description: failure mode ID
          example: 615865149841asd8846
        falseFailuresIds:
          type: array
          items:
            type: string
            example: 615sad8fg56780
        severityId:
          type: string
          description: severity ID
          example: 615865149841asd8846
        dynamicProperties:
          type: array
          items:
            type: string
            example: M1H__1KhZ
        description:
          type: string
        recommendation:
          type: string
        dateRange:
          type: object
          $ref: "#/components/schemas/common.DateRange"
        attachmentsIds:
          type: array
          items:
            type: string
            example: 615865149841asd8846
    machine-learning.Model:
      allOf:
        - type: object
          properties:
            id:
              type: string
              description: Model ID
              example: 60f59b87e0498896dcf85451
            projectId:
              type: string
              description: ID of the project to which the model belongs
              example: 60f59b87e0498896dcf85451
            assetId:
              type: string
              description: ID of the asset to which the model belongs
              example: 60f59b87e0498896dcf85451
            type:
              type: string
              enum:
                - ANOMALY DETECTION
              description: The type of model
              example: ANOMALY DETECTION
            name:
              type: string
              description: The name of the model implementation
              example: Model demo1
            description:
              type: string
              nullable: true
              description: A description for the model implementation
              example: Model for testing
            draft:
              $ref: "#/components/schemas/machine-learning.ModelDraft"
            status:
              type: string
              enum:
                - RUNNING
                - STOPPED
                - DELETED
              description: The status of the model implementation
              example: RUNNING
            statisticalAnalysisPath:
              type: string
              description: path to statistical analysis PDF in GCS
              example: monomizer-dev-resources/projects/test-project-01/models/test-model-01/statistical-analysis.pdf
            timeAggregation:
              $ref: "#/components/schemas/machine-learning.TimeAggregation"
            trainingDate:
              type: string
              format: date-time
              description: the last training date for the published model
              example: 2022-01-23T18:47:17.818Z
            lastTrainingDate:
              type: string
              format: date-time
              description: the effective last training date. If there is a trained draft, this
                field will be the draft trainingdate. Otherwise, if the model is
                publidhed, this field will be the published model traininf date.
                Otherwise this field will be empty.
              example: 2022-01-23T18:47:17.818Z
            inferenceEndpoint:
              type: string
              description: the endpoint to execute the inference with the model
              example: http://...
            publicationDate:
              type: string
              format: date-time
              description: the last publication date
              example: 2022-01-23T18:47:17.818Z
            deletionDate:
              type: string
              format: date-time
              description: the deletion date
              example: 2022-01-23T18:47:17.818Z
        - $ref: "#/components/schemas/property.PropertiesFilters"
        - $ref: "#/components/schemas/machine-learning.PublishRequest"
    machine-learning.ModelDraft:
      description: Draft for a model
      allOf:
        - $ref: "#/components/schemas/property.PropertiesFilters"
        - type: object
          properties:
            wizardStep:
              type: integer
              format: int32
              default: 1
              description: Indicates the step in the draft configuration process that the user
                was in. Must be a value between 1 and 4
              example: 1
            errorInfo:
              $ref: "#/components/schemas/machine-learning.ErrorInfo"
            description:
              type: string
              nullable: true
              description: A description for the model implementation
              example: Draft model for testing
            skipRemovePropertyAdvice:
              type: boolean
              description: Indicates whether to skip the confirmation message when deleting a
                property from the trend graph
            status:
              type: string
              enum:
                - DRAFT
                - ANALYZING
                - TRAINING
                - PUBLISHING
              description: The current status of the draft
              example: TRAINING
            statisticalAnalysisPath:
              type: string
              description: path to statistical analysis PDF in GCS
              example: monomizer-dev-resources/projects/test-project-01/models/test-model-01/statistical-analysis.pdf
            timeAggregation:
              $ref: "#/components/schemas/machine-learning.TimeAggregation"
            trainingDate:
              type: string
              format: date-time
              description: the last training date of the draft model
              example: 2022-01-23T18:47:17.818Z
            inferenceEndpoint:
              type: string
              description: the endpoint to execute the inference with the model
              example: http://...
    machine-learning.TimeAggregation:
      description: Time aggregation data
      type: object
      properties:
        enabled:
          type: boolean
          default: false
        autocalculated:
          type: boolean
          default: true
        value:
          type: integer
          format: int32
          description: Time aggregation value
          example: 60
        unit:
          type: string
          enum:
            - m
            - h
            - d
          description: |
            Unit of time in which the value is expressed:
             * `m` - Minutes
             * `h` - Hours
             * `d` - Days
          example: m
    machine-learning.PublishRequest:
      type: object
      required:
        - outputPropertyName
      properties:
        outputPropertyName:
          type: string
          description: The name of the model output property
          example: ABCD model
        alarm:
          type: object
          properties:
            create:
              type: boolean
              description: Indicates whether an alarm associated with the output property
                should be created.
            severity:
              type: string
              enum:
                - low
                - medium
                - high
                - critical
              description: the severity for the new alarm. Mandatory if 'createAlarm' is true
              example: high
            label:
              type: string
              description: The label to record the alarm
              example: Anomaly in model X
        inferenceFrequency:
          $ref: "#/components/schemas/common.TimeMetric"
    machine-learning.ModelsPagination:
      allOf:
        - type: object
          properties:
            models:
              type: array
              items:
                $ref: "#/components/schemas/machine-learning.Model"
        - $ref: "#/components/schemas/common.Pagination"
    machine-learning.CreateRequest:
      type: object
      required:
        - type
        - name
      properties:
        type:
          type: string
          enum:
            - ANOMALY DETECTION
          description: The type of model
          example: ANOMALY DETECTION
        name:
          type: string
          description: The name of the model implementation
          example: Model demo1
        description:
          type: string
          nullable: true
          description: A description for the model implementation
          example: Model for testing
    machine-learning.UpdateRequest:
      allOf:
        - type: object
          properties:
            wizardStep:
              type: integer
              format: int32
              default: 1
              description: Indicates the step in the draft configuration process that the user
                was in. Must be a value between 1 and 4
              example: 1
            errorInfo:
              $ref: "#/components/schemas/machine-learning.ErrorInfo"
            description:
              type: string
              nullable: true
              description: A description for the model implementation
              example: Model for testing
            skipRemovePropertyAdvice:
              type: boolean
              description: Indicates whether to skip the confirmation message when deleting a
                property from the trend graph
            timeAggregation:
              $ref: "#/components/schemas/machine-learning.TimeAggregation"
            inferenceEndpoint:
              type: string
              description: the endpoint to execute the inference with the model
              example: http://...
            inferenceFrequency:
              $ref: "#/components/schemas/common.TimeMetric"
        - $ref: "#/components/schemas/property.PropertiesFilters"
    machine-learning.ErrorInfo:
      description: contains the last error information, if any
      type: object
      properties:
        message:
          type: string
          description: Contains information about the last error occurred when setting up
            the draft
          example: "An error occurred while generating the statistical analysis: code 666"
        status:
          type: string
          enum:
            - DRAFT
            - ANALYZING
            - TRAINING
            - PUBLISHING
          description: The state the draft was in when the error occurred.
          example: TRAINING
    master-data.NameDescription:
      type: object
      properties:
        id:
          type: string
          example: 60c8c0fd8e26500ee3792d75
        name:
          type: string
          example: Name
        description:
          type: string
          example: Description
    master-data.Magnitude:
      allOf:
        - $ref: "#/components/schemas/master-data.NameDescription"
    master-data.Unit:
      allOf:
        - $ref: "#/components/schemas/master-data.NameDescription"
        - type: object
          properties:
            magnitude:
              $ref: "#/components/schemas/master-data.Magnitude"
            symbol:
              type: string
              example: km/h
    master-data.Severity:
      type: object
      properties:
        id:
          type: string
          example: 60c8c0fd8e26500ee3792d75
        name:
          type: string
          example: High
        value:
          type: integer
          example: 60
        hexColor:
          type: string
          example: "#FFE81C"
    master-data.Process:
      allOf:
        - $ref: "#/components/schemas/master-data.NameDescription"
    master-data.FailureMode:
      allOf:
        - $ref: "#/components/schemas/master-data.NameDescription"
    master-data.AssetType:
      allOf:
        - $ref: "#/components/schemas/master-data.NameDescription"
        - type: object
          properties:
            iconUrl:
              type: string
              description: The public URI to access the icon file. This field is mandatory
              example: https://storage.googleapis.com/monomizer-dev-resources/images/assets/plant.svg
    notification.Notifications:
      type: array
      items:
        $ref: "#/components/schemas/notification.Notification"
    notification.Notification:
      type: object
      properties:
        notificationId:
          type: string
          example: u7h7891779y79y
        receiver:
          type: string
          example: 178uy89jhybn758
        projectId:
          type: string
          example: 10l18jmz18
        content:
          type: string
          example: <div><p>Notification</p></html>
        isRead:
          type: boolean
          example: false
    notification.UserNotificationConfig:
      type: object
      properties:
        enabledGlobal:
          type: boolean
          description: Check to globally enable/disable all notifications for a user
          nullable: true
        language:
          type: string
          description: language to build notifications
          example: es
          nullable: true
        globalChannelsConfig:
          type: array
          items:
            type: object
            properties:
              channel:
                type: string
                example: mobile
              enabled:
                type: boolean
              severityId:
                type: string
                example: 60c8c0fd8e26500ee3792d75
                nullable: false
        exceptions:
          type: array
          items:
            type: object
            properties:
              assetId:
                type: string
                example: 60c8c0fd8e26500ee3792d75
              channels:
                type: array
                items:
                  type: object
                  properties:
                    channel:
                      type: string
                      example: mobile
                    severityId:
                      type: string
                      example: 60c8c0fd8e26500ee3792d75
                      nullable: false
                    enabled:
                      type: boolean
    notification.PushDevice:
      type: object
      properties:
        token:
          type: string
          description: Token of push notification provider
        channel:
          type: string
          description: type of device to register
          example: mobile
    templates.PaginatedTemplates:
      allOf:
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/templates.Template"
        - $ref: "#/components/schemas/common.Pagination"
    templates.Template:
      allOf:
        - type: object
          properties:
            id:
              type: string
              description: Kinematic template ID
              example: 60f59b87e0498896dcf85451
            name:
              type: string
              description: The name of the kinematic template
              example: Template-01
            editingBy:
              type: string
              description: The email of the user who is currently editing the template
              example: test@monom.ai
            publicationDate:
              type: string
              format: date-time
              description: The date the template was published
              example: 2022-01-23T18:47:17.818Z
            inactivationDate:
              type: string
              format: date-time
              description: The date on which the template became inactive (a newer version was
                published)
              example: 2022-01-23T18:47:17.818Z
            deletionDate:
              type: string
              format: date-time
              description: The date on which the template was deleted
              example: 2022-01-23T18:47:17.818Z
            draft:
              $ref: "#/components/schemas/templates.TemplateData"
        - $ref: "#/components/schemas/templates.TemplateData"
    templates.TemplateData:
      type: object
      properties:
        generalInformation:
          $ref: "#/components/schemas/templates.GeneralInformation"
        processingTree:
          $ref: "#/components/schemas/templates.ProcessingTree"
        operationStatus:
          $ref: "#/components/schemas/templates.OperationStatus"
        defaultAlarmConfiguration:
          $ref: "#/components/schemas/templates.DefaultAlarmConfiguration"
        components:
          $ref: "#/components/schemas/templates.Components"
    templates.GeneralInformation:
      type: object
      properties:
        nominalSpeed:
          type: number
          format: float
          description: Nominal speed
        tachometerId:
          type: string
          description: ID of the tachometer item in the catalog
          example: 60f59b87e0498896dcf85451
    templates.ProcessingTree:
      type: object
      properties:
        sensors:
          type: array
          items:
            $ref: "#/components/schemas/templates.Sensor"
    templates.Sensor:
      type: object
      properties:
        name:
          type: string
          description: The name of the sensor. Must be unique throughout Monom Platform!
          example: Sensor-01
        measures:
          type: array
          items:
            $ref: "#/components/schemas/templates.Measure"
    templates.Measure:
      type: object
      properties:
        name:
          type: string
          description: The name of the measure. Must be unique in the containing sensor
          example: Measure-01
        processings:
          type: array
          items:
            $ref: "#/components/schemas/templates.Processing"
    templates.Processing:
      type: object
      properties:
        name:
          type: string
          description: The name of the processing
          example: Processing-01
        processings:
          type: array
          items:
            $ref: "#/components/schemas/templates.Processing"
    templates.OperationStatus:
      type: array
      items:
        $ref: "#/components/schemas/templates.Operation"
    templates.Operation:
      type: object
      properties:
        name:
          type: string
          description: The name of the operation. Must be unique in the containing template
          example: Operation-01
        formula:
          type: string
          description: The formula to execute in the operation.
          example: XYZ+.455
    templates.DefaultAlarmConfiguration:
      type: array
      items:
        $ref: "#/components/schemas/templates.Alarm"
    templates.Alarm:
      type: object
      properties:
        staticAlarm:
          type: boolean
        severityId:
          type: string
          description: severity ID
          example: 615865149841asd8846
        baseLine:
          type: integer
          format: int32
          description: The base line expressed in percentage
          example: 100
        standardDeviation:
          type: integer
          format: int32
          description: The standard deviation expressed in percentage
          example: 4
        constantK:
          type: integer
          format: int32
          description: The conatsnt K value
          example: 0
    templates.Components:
      type: array
      items:
        oneOf:
          - $ref: "#/components/schemas/templates.GenericComponent"
          - $ref: "#/components/schemas/templates.GearboxComponent"
    templates.Component:
      type: object
      properties:
        typeId:
          type: string
          description: Component type  ID
          example: 60f59b87e0498896dcf85451
        name:
          type: string
          description: The name of the component. Must be unique in the containing template.
          example: Component-01
    templates.GenericComponent:
      allOf:
        - $ref: "#/components/schemas/templates.Component"
        - type: object
          properties:
            manufacturer:
              type: string
              description: the manufacturer name. Probably in the future it will be the ID of
                a catalog element
              example: Manufacturer-01
            model:
              type: string
              description: the model name. Probably in the future it will be the ID of a
                catalog element
              example: Model-01
            bearings:
              type: array
              items:
                $ref: "#/components/schemas/templates.Bearing"
    templates.Bearing:
      type: object
      properties:
        manufacturer:
          type: string
          description: the manufacturer name. Probably in the future it will be the ID of
            a catalog element
          example: Manufacturer-01
        model:
          type: string
          description: the model name. Probably in the future it will be the ID of a
            catalog element
          example: Model-01
        side:
          type: string
          description: the side acronym. At most 4 characters
          example: LOA
    templates.GearboxComponent:
      allOf:
        - $ref: "#/components/schemas/templates.Component"
        - type: object
          properties:
            elements:
              type: array
              items:
                oneOf:
                  - $ref: "#/components/schemas/templates.Spur"
                  - $ref: "#/components/schemas/templates.Planetary"
    templates.Spur:
      type: object
      required:
        - teethPinionShaft
        - teethGearShaft
      properties:
        teethPinionShaft:
          type: integer
          format: int32
        teethGearShaft:
          type: integer
          format: int32
    templates.Planetary:
      type: object
      required:
        - teethSunGear
        - teethPlanetPinions
        - teethRingGear
        - numberOfPlanets
      properties:
        teethSunGear:
          type: integer
          format: int32
        teethPlanetPinions:
          type: integer
          format: int32
        teethRingGear:
          type: integer
          format: int32
        numberOfPlanets:
          type: integer
          format: int32
    templates.GearboxElement:
      type: object
      properties:
        teethPinionShaft:
          type: integer
          format: int32
        teethGearShaft:
          type: integer
          format: int32
        teethSunGear:
          type: integer
          format: int32
        teethPlanetPinions:
          type: integer
          format: int32
        teethRingGear:
          type: integer
          format: int32
        numberOfPlanets:
          type: integer
          format: int32
    property.AlertRecognition:
      type: object
      properties:
        date:
          type: string
          example: 2020-01-24T15:00:22.222
        user:
          type: string
          example: uytii67ti6it76r7
        severity:
          $ref: "#/components/schemas/property.AlertSeverity"
    property.AlertSeverity:
      type: object
      properties:
        id:
          type: string
          example: uytii67ti6it76r7
        name:
          type: string
          example: Critical
        value:
          type: number
          example: 50
        hexColor:
          type: string
          example: FFAA11
    property.PropertyValue:
      type: object
      properties:
        date:
          type: string
          example: 2022-10-04T17:44:49.364Z
        unit:
          type: string
          description: Localized name of the unit
          example: Temperature
        value:
          type: number
          example: 50.34
    property.SeverityTransition:
      type: object
      properties:
        date:
          type: string
          format: date-time
          example: 2022-10-04T17:44:49.364Z
        severity:
          $ref: "#/components/schemas/master-data.Severity"
    property.PropertyTrend:
      allOf:
        - $ref: "#/components/schemas/property.PropertyValue"
        - type: object
          properties:
            minValue:
              type: number
              example: 1.2
            maxValue:
              type: number
              example: 1.8
    property.PropertyGauge:
      allOf:
        - $ref: "#/components/schemas/property.PropertyValue"
        - type: object
          properties:
            severity:
              $ref: "#/components/schemas/master-data.Severity"
    property.PropertiesFilters:
      type: object
      properties:
        properties:
          type: array
          items:
            type: string
          description: list of properties selected for training the model
          example:
            - property1
            - property2
            - property3
        timeRange:
          $ref: "#/components/schemas/common.TimeRange"
    property.PropertiesData:
      description: Data for properties in time range grouped by bucket
      allOf:
        - $ref: "#/components/schemas/property.PropertiesFilters"
        - type: object
          properties:
            bucket:
              $ref: "#/components/schemas/common.TimeMetric"
            data:
              type: array
              items:
                type: object
                properties:
                  bucket:
                    type: string
                    description: Bucket name
                    example: 2022-04-29
                  total:
                    type: integer
                    description: Number of data
                    example: 42
    property.AlarmsData:
      description: Alarms data for properties in time range grouped by bucket
      allOf:
        - $ref: "#/components/schemas/property.PropertiesFilters"
        - type: object
          properties:
            bucket:
              $ref: "#/components/schemas/common.TimeMetric"
            data:
              type: array
              items:
                $ref: "#/components/schemas/property.AlarmDataInBucket"
    property.AlarmDataInBucket:
      description: The bucket data for alarms
      type: object
      properties:
        bucketInterval:
          $ref: "#/components/schemas/common.TimeRange"
        severity:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
          description: Bucket severity (greater of alarms severity). Empty ('Unknown') if
            there are no alarms configured for that asset and those properties
            in the indicated period.
          example: high
        alarms:
          description: Alarms data
          type: array
          items:
            $ref: "#/components/schemas/property.AlarmData"
    property.AlarmData:
      description: Alarm data for properties in a time bucket
      type: object
      properties:
        property:
          type: string
          description: Property name
          example: Property 3
        alarmInterval:
          $ref: "#/components/schemas/common.TimeRange"
        maxSeverity:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
          description: The maximum severity reached by the property
          example: high
    machine-learning.BucketCalculation:
      description: The reult of the bucket calculation. It includes both the size and
        the number of buckets
      type: object
      properties:
        numBuckets:
          type: integer
          format: int32
          description: the number of bucjets for the time range
          example: 30
        bucketSizeInSeconds:
          type: integer
          format: int32
          description: the size of the bucket expressed in seconds
          example: 3600
        bucketValue:
          type: integer
          format: int32
          description: the size of the bucket expressed in the unit of time that fits best
          example: 1
        bucketUnit:
          type: string
          enum:
            - ms
            - s
            - m
            - h
            - d
            - week
            - month
            - year
          description: |
            Unit of time in which the bucket value is expressed:
             * `ms` - Milliseconds
             * `s` - Seconds
             * `m` - Minutes
             * `h` - Hours
             * `d` - Days
             * `week` - Weeks
             * `month` - Months
             * `year` - Years
          example: h
paths:
  "/app/projects/{projectId}/assets/{id}":
    get:
      tags:
        - Asset
      summary: Retrieves an Asset
      parameters:
        - name: id
          in: path
          description: Asset Id
          required: true
          schema:
            type: string
          example: q78yh78-89hih-897h897
        - name: projectId
          in: path
          required: true
          description: Project ID
          schema:
            type: string
          example: monom-dev
      responses:
        "200":
          description: Asset information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asset.Asset"
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
    patch:
      tags:
        - Asset
      summary: Update Partially an asset
      parameters:
        - name: id
          in: path
          description: Asset Id
          required: true
          schema:
            type: string
        - name: projectId
          in: path
          schema:
            type: string
          required: true
          description: Project ID
          example: monom-dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/asset.AssetPatch"
      responses:
        "200":
          description: Asset information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asset.Asset"
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
    put:
      summary: Update
      tags:
        - Asset
      parameters:
        - name: id
          in: path
          description: Asset Id
          required: true
          schema:
            type: string
        - name: projectId
          in: path
          required: true
          schema:
            type: string
          description: Project ID
          example: monom-dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/asset.BaseAsset"
      responses:
        "200":
          description: Asset information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asset.Asset"
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
  "/app/projects/{projectId}/assets":
    get:
      tags:
        - Asset
      summary: Retrieves list
      parameters:
        - name: page
          in: query
          description: Number page
          required: false
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: Limit of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: names
          in: query
          required: false
          description: Name filter
          schema:
            type: array
            items:
              type: string
              example: Motor
        - name: types
          in: query
          required: false
          description: Type filter
          schema:
            type: array
            items:
              type: string
              example: Sensor
        - name: tags
          in: query
          required: false
          description: Tags filter
          schema:
            type: array
            items:
              type: string
              example: Small
        - name: files
          in: query
          required: false
          description: Files filter
          schema:
            type: boolean
            example: false
        - name: properties
          description: Have properties filter
          in: query
          required: false
          schema:
            type: boolean
            example: false
        - name: dynamic-properties
          description: Have dynamic properties filter
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              example: M1A_1kHz,S2V_iPeak
        - name: projectId
          in: path
          required: true
          description: Project ID
          schema:
            type: string
          example: monom-dev
        - name: q
          in: query
          required: false
          description: Free text to search for in Asset name
          schema:
            type: string
            example: MyAsset
        - name: sort
          in: query
          required: false
          description: Optional sort criteria
          schema:
            type: string
            example: name:asc
      responses:
        "200":
          description: Asset information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asset.AssetPagination"
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
    post:
      summary: Create
      tags:
        - Asset
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
          description: Project ID
          example: monom-dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/asset.BaseAsset"
      responses:
        "201":
          description: Asset information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asset.Asset"
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
    delete:
      tags:
        - Asset
      summary: Delete a list of Assets
      parameters:
        - name: projectId
          in: path
          required: true
          description: Project ID
          schema:
            type: string
          example: monom-dev
      requestBody:
        description: List of Asset ids to be deleted
        content:
          application/json:
            schema:
              type: array
              example:
                - 67t67tydf34d5
                - 6f65gjhg6
              items:
                type: string
      responses:
        "204":
          description: Delete Asset
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
  "/app/projects/{projectId}/assets/count":
    get:
      tags:
        - Asset
      summary: Count Assets by project
      description: Returns the number of assets related to the project
      parameters:
        - name: projectId
          in: path
          required: true
          description: Project ID
          schema:
            type: string
          example: monom-dev
      responses:
        "200":
          description: The number of assets related to project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.CountResult"
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
  "/app/projects/{projectId}/assets/names":
    get:
      summary: Get project asset names
      description: List assets names returning the id and name, without pagination
      tags:
        - Asset
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
          description: Project ID
          example: monom-dev
      responses:
        "200":
          description: Asset names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    assetId:
                      type: string
                    assetName:
                      type: string
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
  "/app/projects/{projectId}/assets/{assetId}/resources":
    post:
      summary: Create asset resources
      tags:
        - Asset
      parameters:
        - name: projectId
          in: path
          required: true
          description: Project ID
          schema:
            type: string
          example: monom-dev
        - name: assetId
          in: path
          description: Asset Id
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                fileName:
                  type: string
                  format: binary
      responses:
        "201":
          description: Resource created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asset.AssetResource"
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
  "/app/projects/{projectId}/assets/{assetId}/resources/{resourceId}":
    delete:
      summary: Delete resource
      tags:
        - Asset
      parameters:
        - name: projectId
          in: path
          required: true
          description: Project ID
          example: monom-dev
          schema:
            type: string
        - name: assetId
          in: path
          description: Asset Id
          required: true
          schema:
            type: string
        - name: resourceId
          in: path
          description: Resource Id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Delete asset resource
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
    get:
      summary: Get Resource
      tags:
        - Asset
      parameters:
        - name: projectId
          in: path
          required: true
          description: Project ID
          schema:
            type: string
          example: monom-dev
        - name: assetId
          in: path
          description: Asset Id
          required: true
          schema:
            type: string
        - name: resourceId
          in: path
          description: Resource Id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Resource Content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asset.AssetResource"
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
  "/app/projects/{projectId}/assets/{assetId}/resources/{resourceId}/{resourceFileName}":
    get:
      summary: Retrieves resource file
      tags:
        - Asset
      parameters:
        - name: projectId
          in: path
          required: true
          description: Project ID
          schema:
            type: string
          example: monom-dev
        - name: assetId
          in: path
          description: Asset Id
          required: true
          schema:
            type: string
        - name: resourceId
          in: path
          description: Resource Id
          required: true
          schema:
            type: string
        - name: resourceFileName
          in: path
          description: Resource File Name, including extension
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Resource Content
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
  "/app/projects/{projectId}/assets/{assetId}/dynamic-properties":
    get:
      summary: Get asset dynamic properties
      description: List asset properties involved in the published Data Flow
      tags:
        - Asset
        - Flow
      parameters:
        - name: projectId
          in: path
          required: true
          description: Project ID
          schema:
            type: string
          example: monom-dev
        - name: assetId
          in: path
          required: true
          description: Asset ID
          schema:
            type: string
          example: 789a789hh780h78h8
        - name: type
          in: query
          description: Type of property
          example: SCALAR
          required: false
          style: form
          schema:
            type: string
      responses:
        "200":
          description: Asset dynamic properties names
          content:
            application/json:
              schema:
                type: array
                example:
                  - Temperature
                  - Pressure
                items:
                  type: string
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
  "/app/projects/{projectId}/assets/dynamic-properties":
    get:
      summary: Get project assets dynamic properties
      tags:
        - Asset
        - Flow
      parameters:
        - name: projectId
          in: path
          required: true
          description: Project ID
          schema:
            type: string
          example: monom-dev
        - name: assetIds
          in: query
          description: Ids of assets
          required: false
          schema:
            type: array
            example:
              - 62bec7181290f36bf1ca66c6
              - 629df7eeca37bc00a951f82b
              - 62b55c7fdbc094736b06e075
            items:
              type: string
        - name: type
          in: query
          description: Type of property
          example: SCALAR
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Project Assets dynamic properties names
          content:
            application/json:
              schema:
                type: array
                example:
                  - Temperature
                  - Pressure
                items:
                  type: string
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
  "/app/projects/{projectId}/assets/tags":
    get:
      summary: Get Tags
      tags:
        - Asset
      parameters:
        - name: projectId
          in: path
          required: true
          description: Project ID
          schema:
            type: string
          example: monom-dev
      responses:
        "200":
          description: Asset available tags
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asset.Tags"
        default:
          description: Error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/common.MonomError"
[...]
